.character-card {
	position: relative;
	text-align: center;

	margin: 2rem;
	width: 16rem;
	height: 22rem;

	background-color: var(--card-bg);
	box-shadow: var(--box-shadow);
	border-radius: 1rem;

	cursor: pointer;
	transition:
		background-color 0.5s ease,
		transform 0.3s ease;
}

.character-card:hover {
	transform: translateY(-5px);
}

.character-card::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 1rem;
	pointer-events: none;
}

.media-container {
	position: relative;
	width: 100%;
	height: 70%;
	overflow: hidden;
	border-radius: 1rem 1rem 0 0;
	border-bottom: 1px solid var(--border-color);
}

.character-media {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.8s ease-in-out;
}

.character-img {
	opacity: 1;
	z-index: 2;
}

.character-video {
	opacity: 0;
	z-index: 1;
}

.character-img.hidden {
	opacity: 0;
}

.character-video.visible {
	opacity: 1;
	z-index: 3;
}

.character-card h2 {
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: -0.5px;
	margin-top: 1rem;
	color: var(--text-main);
}

.character-card p {
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	color: var(--text-secondary);
	margin-top: 0.4rem;

	opacity: 0.6;
}
