.app-header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	height: 7rem;
	margin-bottom: 2rem;

	background: linear-gradient(
		to right,
		transparent,
		var(--header-bg) 50%,
		transparent
	);
}

.app-header::before {
	content: "";

	position: absolute;
	bottom: 0;
	left: 15%;
	width: 70%;
	height: 2px;

	background: linear-gradient(
		to right,
		transparent,
		var(--text-main) 50%,
		transparent
	);
	z-index: 10;
}

.header-text {
	font-size: 2.5rem;
	text-align: center;
	text-transform: uppercase;
	color: #ffffffeb;
}

.theme-toggle {
	transform: translateY(0.3rem);
	position: absolute;

	right: 15rem;
	bottom: 2rem;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 2.8rem;
	height: 2.8rem;

	border-radius: 1rem;
	border: none;
	background: var(--text-main);
	box-shadow: var(--text-shadow);
	color: var(--card-bg);
	font-weight: bold;

	margin-right: 0.6rem;
	opacity: 0.9;
	cursor: pointer;

	transition: all 0.2s ease-in-out;
}

.theme-toggle:hover {
	opacity: 1;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	filter: brightness(1.1);
}

.theme-toggle:active {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	filter: brightness(0.9);
}

.gender-toggle {
	transform: translateY(0.3rem);

	position: absolute;
	right: 12rem;
	bottom: 2rem;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 2.8rem;
	height: 2.8rem;

	border-radius: 1rem;
	border: 1px solid var(--text-main);
	color: var(--text-main);
	box-shadow: var(--text-shadow);
	background: var(--card-bg);

	font-weight: bold;
	font-size: 1.1rem;
	opacity: 0.9;

	cursor: pointer;

	transition: all 0.3s ease-in-out;
}

.gender-toggle:hover {
	opacity: 1;
	background: var(--text-main);
	color: var(--card-bg);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.gender-toggle:active {
	filter: contrast(1.2);
}
