:root {
	--bg-gradient: radial-gradient(
		circle,
		transparent 70%,
		rgba(0, 0, 0, 0.15) 100%
	);
	--bg-color: rgb(210, 190, 190);
	--card-bg: rgb(143, 104, 104);
	--header-bg: #a0818178;

	--text-main: #ffffff;
	--border-color: rgba(255, 255, 255, 0.5);

	--shadow-color: rgba(0, 0, 0, 0.15);
	--text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	--box-shadow: 0 10px 20px rgba(80, 0, 0, 0.2);
}

.app-container.dark {
	--bg-color: #5d5d5d;
	--header-bg: #1f1c1c78;
	--card-bg: #2d2d2d;

	--text-main: #fff4ec;
	--border-color: #e3e3e3;
	--shadow-color: rgba(0, 0, 0, 0.8);
	--box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app-header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 7rem;
	gap: 1.4rem;
	margin-bottom: 2rem;
	background: linear-gradient(
		to right,
		transparent,
		var(--header-bg) 50%,
		transparent
	);
}

.app-header::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 15%;
	width: 70%;
	height: 2px;
	background: linear-gradient(
		to right,
		transparent,
		var(--text-main) 50%,
		transparent
	);
	z-index: 10;
}

.header-text {
	font-size: 2.5rem;
}

.theme-toggle {
	transform: translateY(0.3rem);

	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	cursor: pointer;
	border-radius: 30%;
	border: none;
	background: var(--text-main);
	color: var(--bg-color);
	font-weight: bold;
}

.app-container {
	width: 100%;
	min-height: 100svh;
	text-shadow: var(--text-shadow);
	color: var(--text-main);
	font-family:
		system-ui,
		-apple-system,
		sans-serif;
	transition:
		background-color 0.5s ease,
		color 0.5s ease;
	background-image: var(--bg-gradient);
	background-color: var(--bg-color);
}

.list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.character-card {
	position: relative;
	text-align: center;

	margin: 2rem;
	width: 16rem;
	height: 22rem;

	background-color: var(--card-bg);
	box-shadow: var(--box-shadow);
	border-radius: 1rem;

	transition:
		background-color 0.5s ease,
		transform 0.3s ease;
}

.character-card:hover {
	transform: translateY(-5px);
}

.character-card::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 1rem;
	pointer-events: none;
}

.media-container {
	position: relative;
	width: 100%;
	height: 70%;
	overflow: hidden;
	border-radius: 1rem 1rem 0 0;
	border-bottom: 0.1rem solid var(--border-color);
}

.character-media {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.8s ease-in-out;
}

.character-img {
	opacity: 1;
	z-index: 2;
}

.character-video {
	opacity: 0;
	z-index: 1;
}

.character-img.hidden {
	opacity: 0;
}

.character-video.visible {
	opacity: 1;
	z-index: 3;
}

.character-card p,
.character-card h2 {
	margin-top: 0.6rem;
}

.character-card p {
	font-size: 0.9rem;
	opacity: 0.8;
}
