* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100svw;
	height: 100svh;
	background-image: radial-gradient(
		circle,
		transparent 70%,
		rgba(0, 0, 0, 0.235) 100%
	);
	background-color: rgb(151, 134, 134);
	color: whitesmoke;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}

.app-container h1 {
	text-align: center;
	margin: 2rem auto;
}

.list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.character-card {
	text-align: center;
	margin: 2rem;
	width: 16rem;
	height: 22rem;
	background-color: rgb(98, 74, 74);
	border-radius: 1rem;
	position: relative;
}

.character-card::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 1.5rem;
	/* Тень накладывается ПОВЕРХ картинки */
	box-shadow: inset 8px 8px 20px rgba(0, 0, 0, 0.4);
	pointer-events: none; /* Чтобы можно было кликать сквозь тень */
}

.character-card img {
	width: 100%;
	height: 70%;
	object-fit: cover;
	border-radius: 1rem 1rem 0 0;
	border-bottom: 0.1rem solid whitesmoke;
	margin-bottom: 1rem;
}

.character-card p {
	margin-top: 0.6rem;
}
