:root {
	--bg-gradient: radial-gradient(
		circle,
		transparent 70%,
		rgba(0, 0, 0, 0.15) 100%
	);
	--bg-color: rgb(210, 190, 190);
	--card-bg: rgb(143, 104, 104);
	--header-bg: #a0818178;

	--text-main: #fcf1f1;
	--border-color: rgba(255, 255, 255, 0.5);

	--shadow-color: rgba(0, 0, 0, 0.15);
	--text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	--box-shadow: 0 10px 20px rgba(80, 0, 0, 0.2);
}

.app-container.dark {
	--bg-color: #5d5d5d;
	--header-bg: #1f1c1c78;
	--card-bg: #2d2d2d;

	--text-main: #f3e9e1;
	--border-color: #828080;
	--shadow-color: rgba(0, 0, 0, 0.8);
	--box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app-container {
	width: 100%;
	min-height: 100svh;
	text-shadow: var(--text-shadow);
	color: var(--text-main);
	font-family:
		system-ui,
		-apple-system,
		sans-serif;
	transition:
		background-color 0.5s ease,
		color 0.5s ease;
	background-image: var(--bg-gradient);
	background-color: var(--bg-color);
}

.list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
